body {
    font-family: 'Asap', sans-serif;
    width: 1440px auto;
}

.header_topo {
    display: flex;
    justify-content: center;
    background-color: #181818;
    height: 60px;
    left: 0;
    top: 0;
}

.navegacao_topo a {
    position: relative;
    display: flex;    
    text-decoration: none;
    color: white;
    align-items: center;
    text-align: center;
    top: 20px;
}

.section_titulo {
    display: flex;
    justify-content: center;
    background-color: #F9F9F9;;
}

.titulo {
    position: relative;
    display: flex;
    height: 47px;
    color: #181818;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
}

.img_shoes01 {
    position: relative;
    display: flex;
    margin: 150px auto;
    justify-content: center;
    
}

.imagens_destaque {
    text-align: center;
    position: relative;
    justify-content: center;
}

.img {  max-width: 100%;  width: 1990px; }

.button{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.button_adicionar {
    padding: 10px 100px 10px 100px;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    background-color: black;
    color: white;
}

.button_favorito {
    margin: 20px;
    padding: 10px 160px 10px 160px;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    background-color: #F9F9F9;
}

/*Footer*/

.copyrigth {
    justify-content: center;
    text-align: center;
    background-color: #181818;
    color: white;
    margin: 20px 0 0 0;
    padding: 15px 0 15px 0;
}


/*Botão detalhes do tenis*/
.button_compra {
    width: 60px;
}

.detalhes_tenis {
    line-height: 29px;
}

.detalhes_tenis h2 {
    display: flex;
    position: relative;
    font-size: 26px;
    padding-top: 20px;
}

.detalhes_tenis h1 {
    font-size: 26px;
}